<h1>Questions</h1>
	
	<ul>
		<% @questions.each do |q| %>
		<li>
			<%= q.text %>
			<%= link_to "View Question", question_path(q.id) %>
		</li>
		<% end %>
	</ul>

<%= link_to "Add a New Question", new_question_path %>