// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showAnswerContainer{
	
	.answerInfoContainer{
		width: 90%;
		margin: 0 auto;
		padding: 20px;
		border-radius: 10px;
		background-color: white;
		color: rgba(81,81,81, 1);

		h1{
			margin: 0 0 30px 0;
		}

		.answerFormContainer{
			width: 90%;
			margin: 0 auto;
			font-size: 20px;

			.inputField{
				height: 50px;
				padding: 10px;
				border-radius: 5px;
				-webkit-border-radius: 6px;
			    -moz-border-radius: 6px;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			}
			
			.inputDate{
				width: 30%;
				margin: 20px 0 20px 16px;
			}

			.inputValue{
				width: 20%;
				text-align: center;
				margin: 20px 0 20px 10px;
			}

			.inputNote{
				width: 90%;
				margin: 20px 0 20px 15px;
			}

			
		}

	}

}