/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html{
	height: 100%;
}

#navBar{
	margin: 0;
	border-radius: 0;
	background-color: rgba(255,255,255,0);
	padding: 20px 0;
}

#menuToggle{
	font-size: 20px;
	margin: 0 20px;
	color: black;
}

.dropdown-menu a{
	color: black;
	font-size: 20px;
}

#menuToggle{
	background-color: rgba(255,255,255,0);
	outline: none;
}

.linkActions{
	text-align: center;
	margin: 40px 0 20px;

	a{
		padding: 0 40px;
	}
}

.inputField{
	width: 300px;
	height: 50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgba(130,130,130,1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
	margin: 10px auto;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px;
	color: rgba(81,81,81, 1);
}

.inputField:focus{
	border: 2px solid rgba(81,81,81, 1);
	outline: none;
}

.buttonCenter{
		margin: 20px auto;
		width: 100%;
		text-align: center;

		.inputButton{
			padding: 10px;
			width: 30%;
			background-color: rgba(81,81,81, 1);
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 22px;
			font-weight: 200;
			letter-spacing: 1px;
			outline: none;
		}
	}

/* ------ Error Messages ------ */

#error_explanation{
	margin: 30px 0;
	text-align: center;
	color: rgb(183,1,0);

	ul{
			padding: 10px 0;

			li{
				font-size: 18px;
				list-style-type: none;
			}

		}
}

.field_with_errors{
	display:inline;

	.inputField{
		border: 2px solid rgba(183,1,0,1);
	}
}
