/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html{
	position: absolute;
	width: 100%;
}

html, body{
	height: 100%;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
}


/* -------- App-wide Styles -------- */

#navBar{
	margin: 0;
	height: 80px;
	position: relative;
	border-radius: 0;
	background-color: rgba(255,255,255,0);
	padding: 5px 0;
	border-bottom: 1px solid black;
	z-index: 1;
}

#menuToggle{
	font-size: 20px;
	margin: 0 20px;
	color: black;
}

.dropdown-menu a{
	color: black;
	font-size: 20px;
}

#menuToggle{
	background-color: rgba(255,255,255,0);
	outline: none;
}

.linkActions{
	padding: 40px 0;
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: black;

	a{
		padding: 0 40px;
		color: white;
	}

}

.inputField{
	width: 300px;
	height: 50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgba(130,130,130,1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
	margin: 10px auto;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px;
	color: rgba(81,81,81, 1);
}

.inputField:focus{
	border: 2px solid rgba(81,81,81, 1);
	outline: none;
}

.buttonCenter{
		margin: 20px auto;
		width: 100%;
		text-align: center;

		.inputButton{
			padding: 10px;
			width: 30%;
			background-color: rgba(81,81,81, 1);
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 22px;
			font-weight: 200;
			letter-spacing: 1px;
			outline: none;
		}
	}

	a{
		color: white;
	}

/* ------ Error Messages ------ */

#error_explanation{
	margin: 30px 0;
	text-align: center;
	color: rgb(183,1,0);

	ul{
		padding: 10px 0;

		li{
			font-size: 18px;
			list-style-type: none;
		}

	}
}

.field_with_errors{
	display:inline;

	.inputField{
		border: 2px solid rgba(183,1,0,1);
	}
}


/* -------- Questions Styles -------- */


.newQuestionContainer{
	width: 100%;
	min-height: 100%;
	margin: -80px auto;
	position: relative;
	background-color: white;
	color: rgba(81,81,81,1);
	font-size: 20px;
	background-color: rgb(203,232,107);
	padding: 80px 0 100px;
	z-index: 0;

	h2{
		text-align: center;
	}

	.questionTitle{
		padding: 20px 40px;
		background-color: black;
		color: white;
	}

	.newQuestionForm{
		padding: 100px 0;
	}

	.formContainer{
		padding: 60px 20px;

		.inputCenter{
			width: 90%;
			margin: 0 auto;
		}

		.questionInputField{
			padding: 10px;
			margin: 10px 0;
			width: 100%;
			height: 50px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border: 1px solid rgba(130,130,130,1);
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}

	table{
		width: 80%;
		margin: 60px auto;

		tr{
			border-top: 1px solid black;
			height: 40px;
		}

		tr:last-child{
			border-bottom: 1px solid black;
		}

		.colRight{
			text-align: right
		}
	}
}


/* ---- Show Question ---- */

.showContainer{
	width: 100%;
	min-height: 100%;
	margin: -80px auto;
	position: relative;
	font-size: 18px;
	background-color: rgb(203,232,107);
	color: rgba(81,81,81,1);
	width: 100%;
	padding: 80px 0 100px;
	z-index: 0;

	h1{
		font-size: 50px;
		text-align: center;
	}

	h2{
		font-size: 36px;
		text-align: center;
	}

	.questionTitleDiv{
		padding: 10px;
		background-color: rgb(28,20,13);
		color: white;
	}

	.mostRecentDataDiv{
		margin: 0 auto;
		padding: 40px;
		background-color: rgb(203,232,107);
		

		div{
		}

		#mostRecent{
			padding: 60px 0;
			margin: 60px auto;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			background-color: rgb(28,20,13);
			color: white;
			text-align: center;

			.mostRecentData{
				font-size: 80px;
				line-height: 1em;
			}

			.mostRecentUnits{
				font-size: 40px;
			}
		}

		#averageGraph{
			margin: 60px auto 40px;
			width: 280px;
			height: 220px;
		}

		#averageData{
			width: 80%;
			margin: 20px auto;
			font-size: 26px;
			text-align: center;
		}
	}

	ul{
		margin: 0 auto;
		width: 80%;

		li{
			font-size: 24px;
			padding: 10px;

			.questionViewLink{
				font-size: 18px;
			}
		}
	}

	.highLowContainer{
		font-size: 18px;
		padding: 40px 0;
		border-top: 1px solid black;
		background-color: white;

		.highLowRows{
			width: 90%;
			margin: 0 auto;
			text-align: center;

			.highLowCol{
				height: 300px;
				margin: 70px auto 26px;

				.dataValue{
					margin: 10px auto;
					font-size: 30px;
				}

				.highLowCircle{
					margin: 30px auto;
				}

				.bottomRow{
					border-bottom: 1px solid black;	
					padding: 0 0 60px;
				}
			}
		}
	}

	.twoWeekContainer{
		width: 100%;
		background-color: rgb(203,232,107);
		padding: 40px 0;
		border-bottom: 1px solid black;

		.twoWeekGraphContainer{
			padding: 60px 0;

			#twoWeekGraph{
					width: 330px;
					height: 300px;
					margin: 0 auto;
			}
		}
	}

	/* Missing Data */
	.missingData{
		width: 100%;
		position: relative;
		padding: 80px 0 100px;
		z-index: 0;
		background-color: rgb(203,232,107);
		text-align: center;

		a{
			text-align: center;
			font-size: 50px;
			color: white;
		}
	}
}

/* --- New Answer --- */

.showAnswerContainer{
	width: 100%;
	min-height: 100%;
	margin: -80px auto;
	position: relative;
	font-size: 18px;
	background-color: rgb(203,232,107);
	color: rgba(81,81,81,1);
	width: 100%;
	padding: 80px 0 100px;
	z-index: 0;

	.answerInfoContainer{
		width: 80%;
		margin: 0 auto;
	}

	.inputDate{
		margin-left: 12px;
	}

	.inputValue{
		margin-left: 5px;
	}

	.inputNote{
		width: 100%;
	}

}